.base {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.itemList {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-right: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  background-color: var(--background-modifier-hover);
  border-radius: 8px;
  cursor: pointer;
}

.path {
  max-width: 200px;
  margin-right: 8px;
  width: auto !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gap {
  height: 10px;
  width: 1px;
  background-color: #fff;
  margin-right: 8px;
}

.back {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px !important;
}

.refresh {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.refresh svg {
  transition: 0.3s ease-in-out;
}

.refresh:hover svg {
  transform: rotate(-90deg);
}

.top {
  display: flex;
  align-items: center;
  width: 100%;
}
